body{
  /* display: flex; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

#page{
  display: flex;
}

#top_nav{
  padding: 0;
  background-color: #0A2239;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}

  
#top_nav #nav_icon{
  float: left;
  width: 20px;
  padding-top: 10px;
}

#top_nav #user_icon{
  float: right;
  width: 30px;
  height: 40px;
  border-radius: 2000px;
}


.sidebar{
background: #0f3457;
/* margin-top: 13px; */
padding-top: 30px;
left: 0;
flex-shrink: 0;
width: 215px;
transition-property: left;
/* border: 3px solid greenyellow; */
}

.sidebar .profile_image{
width: 100px;
height: 100px;
border-radius: 100px;
margin-bottom: 10px;
}

.sidebar h4{
color: #ccc;
margin-top: 0;
margin-bottom: 20px;
}

.sidebar a {
color: #fff;
display: inline-block;
width: 100%;
line-height: 60px;
text-decoration: none;
padding-left: 40px;
box-sizing: border-box;
transition:0.5s;
transition-property: background;
}

.sidebar a:hover {
background: #19b3d3;
}

.sidebar i {
padding-right: 10px;
}

label #sidebar_btn {
z-index: 1;
color: #fff;
position: fixed;
cursor: pointer;
left: 300px;
font-size: 20px;
margin:-15px 0;
transition: 0.5s;
transition-property: color;
}

label #sidebar_btn:hover {
color: #19b3d3;
}

.left-area h3 {
padding-left:20px ;
color: #fff;
margin-top: 20px;
text-transform: uppercase;
font-size: 22px;
font-weight: 900;
}

.left-area span{
color: #1DC4E7;
}

.right-area{
  /* border: 2px solid red; */
  margin-right: 20px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout_btn {
  padding: 5px;
  background: #19b3d3;
  text-decoration: none;
  float: left;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover {
background: #0d9dbb;
}


main{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#content{
  /* margin-left: 200px; */
  padding: 1px 16px;
  height: 1000px;
  
}

#info_boxes{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    width: 100%;

}

.info{
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: column;
    width: 20%;
   
}

.head{
    border-bottom: 1px solid #0A2239;
    padding: 5px 0px;
    width: 100%;
    border-width: 100%;
    background-color: #0A2239;
    color: white;
    border-radius: 5px 5px 0 0;


}

.details{

    padding: 40px 35px;
    text-align: center;
    /* border: 1px solid blueviolet; */

}

.bottom{
    border-bottom: 1px solid #0A2239;
    padding: 5px 5px 10px;
    background-color: #0A2239;
    color: white;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    
}

#arrow{
    width: 20px;
    margin: 5px 40px 0;
    /* border: 2px solid red; */
}

#tables{
  display: flex;
  flex-direction: row;
  justify-content: center;
  

}

#table1, #table2, #table3, #table4{
    padding-top: 40px;
    display: none;
    /* width: 100%; */
    margin: auto;
    
}


#table1 td, #table2 td, #table3 td, #table4 td, #table1 th, #table2 th, #table3 th, #table4 th{
      border: 1px solid #0A2239;
      padding: 8px;
  }

  #table1 th, #table2 th, #table3 th, #table4 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0A2239;
    color: white;
  }
