body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #page{
    display: flex;
  }
  
  #top_nav{
      background-color: rgb(116, 116, 116);
      display: flex;
      /* margin-left: px; */
      width: 100%;
      text-align: center;
      justify-content: space-between;
      
    }
    
  #top_nav #nav_icon{
    float: left;
    width: 20px;
    padding-top: 10px;
  }
  
  #top_nav #user_icon{
    float: right;
    width: 30px;
    height: 40px;
    padding: 10px 0;
  }
  
  nav{
      margin: 0;
      padding: 0;
      width: 200px;
      height: 1000px;
      background-color: #000000;
      padding-right: 20px;
      
  }
  
  
  
  .nav_links li a{
    text-decoration: none;
    color: white;
  
  }

  .navtext{
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #content{
    padding: 1px 16px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    
}

#info_boxes{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    width: 100%;

}

.info{
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: column;
    width: 20%;
   
}

.head{
    border-bottom: 1px solid #0A2239;
    padding: 5px 0px;
    width: 100%;
    border-width: 100%;
    background-color: #0A2239;
    color: white;
    border-radius: 5px 5px 0 0;


}

.details{

    padding: 40px 35px;
    text-align: center;
    /* border: 1px solid blueviolet; */

}

.bottom{
    border-bottom: 1px solid #0A2239;
    padding: 5px 5px 10px;
    background-color: #0A2239;
    color: white;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    
}

#arrow{
    width: 20px;
    margin: 5px 40px 0;
    /* border: 2px solid red; */
}

#table1, #table2, #table3, #table4{
    padding-top: 40px;
    display: none;
    width: 100%;
    margin: auto;
}


#table1 td, #table2 td, #table3 td, #table4 td, #table1 th, #table2 th, #table3 th, #table4 th{
      border: 1px solid #0A2239;
      padding: 8px;
  }

  #table1 th, #table2 th, #table3 th, #table4 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0A2239;
    color: white;
  }
